.notification {
  border: 2px solid;
  padding: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
}

/* green border for success */
.notification.success {
  color: green;
  border-color: green;
  background-color: #e6ffe6; /* optional light green background */
}

/* red border for error */
.notification.error {
  color: red;
  border-color: red;
  background-color: #ffe6e6; /* optional light red background */
}

/* styles for the blog list */
.blog {
  padding: 10px;
  border: solid 1px;
  margin: 5px 0 0 1px;
}